h1 エラーログ
br
= paginate @error_logs
table.table.table-hover
  thead
    tr
      th 日時
      th params
      th error
  tbody
    - @error_logs.each do |error_log|
      tr
        td
          = error_log.created_at
        td
          = error_log.params
        td
          = error_log.error
= paginate @error_logs      
