h1 株価一覧
br
.well
  = form_tag(stocks_path, method: :get) do
    .row
      .col-xs-2.text-center
        | 期間
      .col-xs-4
        = date_field_tag :start_at, params[:start_at], class: "form-control"
      .col-xs-2.text-center
        | 〜
      .col-xs-4
        = date_field_tag :end_at, params[:end_at], class: "form-control"
    .row
      .col-xs-2.text-center
        | 証券コード
      .col-xs-4
        = text_area_tag :codes, params[:codes], class: "form-control", placeholder: "0000\r\n1111\r\n2222\r\n3333\r\n4444\r\n5555", rows: 6
    .row
      .col-xs-2.text-center
        | 空欄補正
      .col-xs-1
        = check_box_tag :empty_correction, true, params[:empty_correction]
      .col-xs-9
        | (証券取引所運営日に該当する日の株価データが存在しない場合、前日のデータを挿入します。)
    .row
      .col-xs-2.text-center
        | 複数列表示
      .col-xs-1
        = check_box_tag :matrix, true, params[:matrix]
      .col-xs-9
        | (日付を縦軸、証券コードを横軸として行列形式で表示します。)
    .row
      .col-xs-2.text-center
        |並び替え
      .col-xs-4
        = select_tag :sort, options_for_select({"---": "", "証券コード昇順：日付昇順": 1, "証券コード昇順：日付降順": 2, "証券コード降順：日付昇順": 3, "証券コード降順：日付降順": 4}, selected: params[:sort]), class: "form-control"
    .row
      button.btn.btn-primary.col-xs-offset-5.col-xs-2 type="submit"
        | 検索
.pull-right
  = link_to "現在の条件でCSVダウンロード", csv_stocks_path(params), class: "btn btn-warning"
- if params[:matrix]
  = paginate @rows
  table.table.table-hover
    thead
      tr
        th
        - codes = @rows.first.map{ |content| content[:code] }
        - codes.each do |code|
          th
            = code
    tbody
      - @rows.each do |row|
        tr
          td
            strong
              = row.first[:date]
          - row.each do |content|
            td
              - stock = Stock.find_by(code: content[:code], date: content[:date])
              - if stock.blank?
              - elsif params[:empty_correction]
                = stock.adjusted_closing_price || stock.empty_corrected_price
              - else
                = stock.adjusted_closing_price
  = paginate @rows
- else
  = paginate @stocks
  table.table.table-hover
    thead
      tr
        th 証券コード
        th 日付
        th 調整後終値
    tbody
      - @stocks.each do |stock|
        tr
          td
            = stock.code
          td
            = stock.date
          td
            - if params[:empty_correction]
              - stock.update(empty_corrected_price: stock.prev_price) if stock.adjusted_closing_price.blank? && stock.empty_corrected_price.blank?
              = stock.adjusted_closing_price || stock.empty_corrected_price
            - else
              = stock.adjusted_closing_price
  = paginate @stocks
