h1 株価新規取得
br
.well
  = form_tag(stocks_path, method: :post) do
    .row
      .col-xs-2.text-center
        | 期間
      .col-xs-4
        = date_field_tag :start_at, params[:start_at], class: "form-control"
      .col-xs-2.text-center
        | 〜
      .col-xs-4
        = date_field_tag :end_at, params[:end_at], class: "form-control"
    .row
      .col-xs-2.text-center
        | 証券コード
      .col-xs-4
        = text_area_tag :codes, params[:codes], class: "form-control", placeholder: "0000\r\n1111\r\n2222\r\n3333\r\n4444\r\n5555", rows: 6
    .row
      button.btn.btn-primary.col-xs-offset-5.col-xs-2 type="submit"
        | 取得
ul
  li
    | 指定した期間、証券コードの株価データについて、日足の調整後終値を取得します。
  li
    | 期間を指定しない場合、直近1ヶ月分のデータを取得します。
  li
    | 目安として、1つの証券コード4年分の取得につき約1分かかります。(通信状況によってさらに遅くなる場合もあります。)
br
