nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      = link_to "株価データ取得サービス", root_path, id: "logo", class: "navbar-brand", style: "color:white;"
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-left
        li
          = link_to "新規取得", new_stock_path
